// 第一栏图片
.tools-image {
  background-image: url(../img/home/qicheboy.jpeg);
}

.web-image {
  background-image: url(../img/home/tiqiugirl.jpeg);
}

.component-image {
  background-image: url(../img/home/bikaqiu.jpeg);
}
.article-image {
  background-image: url(../img/home/writgril.jpeg);
}

// 第二栏图片
.drag-image {
  background-image: url(../img/home/drag.jpeg);
}
.drag-image-preview {
  background-image: url(../img/home/drag-removebg-preview.png);
}

.redfenghaung-image {
  background-image: url(../img/home/redfenghaung.jpeg);
}
.redfenghaung-image-preview {
  background-image: url(../img/home/redfenghaung-removebg-preview.png);
}

.yingguanggril-image {
  background-image: url(../img/home/yingguanggril.jpeg);
}
.yingguanggril-image-preview {
  background-image: url(../img/home/yingguanggril-removebg-preview.png);
}

.redwushi-image {
  background-image: url(../img/home/redwushi.jpeg);
}
.redwushi-image-preview {
  background-image: url(../img/home/redwushi-removebg-preview.png);
}
