.drag-image {
  background-image: url(../img/home/drag.jpeg);
}
.redfenghaung-image {
  background-image: url(../img/home/redfenghaung.jpeg);
}

.yingguanggril-image {
  background-image: url(../img/home/yingguanggril.jpeg);
}

.redwushi-image {
  background-image: url(../img/home/redwushi.jpeg);
}
